*, *::before,*:before,*::after,*:after{
    box-sizing: border-box;
}

.container{
    width: 60%;
    margin: auto;
}

.rojo{
    color: lightcoral;
    font-weight: bold;
}

footer{
    margin-top: 2rem;
}